/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

img {
	max-width: 100%;
}

/* ROOT */
:root {

	/* fonts */
	--logo-font: 'DM Serif Display', sans-serif;
	--heading-font: 'Work Sans', sans-serif;
	--main-text: 'Martian Mono', sans-serif;

	/* bg */
	--bgColor-beige: #F1ECE7;
	--bgColor-white: #FFFBFB;
	--yellowBg-btn: #FFE82B;
	--footer-bg: #F2EDE5;

	/* colors */
	--main-text-color: #7A7676;
	--footer-color: #565252;
}

/* REUSABLE */

body {
	font-family: var(--main-text);
	color: var(--main-text-color);
	background-color: var(--bgColor-white);
}

.container {
	width: 90%;
	max-width: 1260px;
	margin: 0 auto;
}

.row {
	display: flex;
	justify-content: space-between;
}

.hero-title, .savor-title, .catering-title, .location-title, .visitUs-title {
	font-size: 2rem;
	font-weight: 600;
	line-height: 1.2;
	font-family: var(--heading-font);
	color: #000;
}

.savor-title, .catering-title, .location-title, .visitUs-title {
	margin: 1.25rem 0;
}

.hero-img, .savor-img, .catering-img, .location-img {
	border-radius: 55px;
}

.savor-subtitle, .catering-subtitle, .location-subtitle, .visitUs-subtitle {
	margin-bottom: 1.25rem;
}

/* BLACK BUTTONS */

.order-btn, .catering-btn, .directions {
	display: block;
	font-size: 1rem;
	font-weight: 500;
	padding: 1rem .625rem;
	text-align: center;
	border-radius: 40px;
	text-decoration: none;
	background-color: #000;
	color: #fff;
}


.call-us {
	display: block;
	font-size: 1rem;
	font-weight: 500;
	padding: 1rem .625rem;
	text-align: center;
	border-radius: 40px;
	text-decoration: none;
	color: #6D696D;
	border: 1px solid #817F81;
}

/* YELLOW BUTTONS */

.reserve__table-btn, .visitUs-btn {
	display: block;
	font-size: 1rem;
	font-weight: 500;
	padding: 1rem .625rem;
	text-align: center;
	border-radius: 40px;
	text-decoration: none;
	background-color: #fff;
	color: #6D696D;
}

.yellow-btn, .visitUs-btn {
	font-size: 1rem;
	text-decoration: none;
	color: #7A7E23;
	background-color: var(--yellowBg-btn);
	border-radius: 32px;
	padding: .75rem;
	font-weight: 600;
}


/* NAV */

.header	{
	background-color: var(--bgColor-beige);
}

.nav {
	padding: 1.5rem 0;
}

.nav-item:not(:nth-child(5)) {
	display: none;
}

.logo {
	font-family: var(--logo-font);
	text-decoration: none;
	color: #000;
	font-size: 1.25rem;
}

/* HERO */

.hero {
	background-color: var(--bgColor-beige);
	padding-bottom: 2.5rem;
}

.hero-img {
	margin-top: 1.25rem;
}

.hero-subtitle {
	margin: 1.25rem 0 2.5rem 0;
}

.order-btn {
	margin: 1.25rem 0;
}


/* SAVOR */

.savor {
	background-color: var(--bgColor-beige);
	padding: 2.5rem 0;
}


.open-daily {
	color: #6D8DBC;
}

/* CATERING */

.catering {
	padding: 2.5rem 0;
}

/* LOCATION */

.location {
	padding: 2.5rem 0;
}

.location-title {
	margin-top: 0;
}

.operations-container {
	padding: 2.5rem 1.25rem;
	border: 1px solid #817F81;
	border-radius: 11.5px;
}

.operation-title {
	font-weight: 500;
	font-size: 1.5rem;
}

.hours__of-operation {
	padding: 1.25rem 0;
	line-height: 1.5;
}

.address {
	line-height: 1.5;
}

.directions {
	margin: 1.25rem 0;
}

.location-img {
	margin-top: 1.25rem;
}

/* CAROUSEl */

.carousel {
	padding: 2.5rem 0;
}

/* CAROUSEL CARDS */

.carousel-container {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: row;
}

.carousel-container {
	max-width: 1100px;
	padding: 1rem;
	overflow: hidden;
	border: 2px solid #565252;
	border-radius: 22px;
}

.carousel-img {
	border-radius: 22px;
	width: 100%;
	object-fit: cover;
}

.card-title {
	font-weight: 600;
	color: #000;
	font-size: 1.25rem;
	padding-top: 1rem;
}

.card-subtitle {
	padding: 1rem 0;
}

.card-link {
	user-select: none;
	text-decoration: none;
	color: #000;
	padding: .75rem 1rem;
	border: 2px solid #000;
	border-radius: 11.5px;
	display: inline-block;
}

/* Swipers and bullets */

.swiper-button-prev, .swiper-button-next{
	color: #565252;
}

.swiper-pagination-bullet-active {
	background: #565252;
}

/* VISIT */

.visitUs {
	padding: 2.5rem 0;
}

.visitUs-title {
	color: #363533;
}

.visitUs-img {
	border: 1px solid red;
}

/* FOOTER */

.footer {
	padding: 2rem 0;
	background-color: var(--footer-bg);
	color: #565252;
}

.footer-logo {
	font-size: 1.5rem;
	text-align: center;
	margin-bottom: 2.5rem;
}

.footer-link {
	text-decoration: none;
	color: var(--footer-color);
}

.footer-row {
	display: flex;
	font-size: 1rem;
	flex-wrap: wrap;
	gap: 40px;
}

.footer-title {
	font-weight: 600;
}

.footer-item {
	margin-top: 1rem;
}

.copyright {
	margin-top: 2.5rem;
}